<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Kellk</title>
<link REL="StyleSheet" HREF="../libs/bugui/buneli_styles.css" TYPE="text/css">
</head>
<body>
<form name="frmBuneli" id="frmBuneli" method="post" enctype="multipart/form-data">
	<div>
		<div>
			Bienvenido a Kellk / Welcome to Kellk
		</div>
		<table align="center">
			<tr>
				<td style="cursor:pointer;" onclick="buneli_start('_JSON','esp','L')">Español</td>
				<td style="cursor:pointer;" onclick="buneli_start('_JSON','eng','L')">English</td>
			</tr>
			<tr>
				<td style="cursor:pointer;" onclick="buneli_start('_JSON','esp','L')"><img src="../image/esp.png"></td>
				<td style="cursor:pointer;" onclick="buneli_start('_JSON','eng','L')"><img src="../image/eng.png"></td>
			</tr>
		</table>
		<table align="center">
			<tr>
				<td><img  id="slide" src="../image/banner2.PNG"></td>
			</tr>
		</table>
	</div>
</form>
</body>
</html>
<script type="text/javascript" language="javascript" src="../libs/bugui/buneli_webgui.js"></script>