<div id="divAboutKellkCenter" class="JasonSaysChatBox">
	<div>
		<div style="position:relative;">
			<div style="position:relative;">{$tittle}</div>
			<div class="closeX" title="" onclick="byebye('divAboutKellkCenter')">X</div>
		</div>
	</div>
	<div class="JsonSaysRequestsBox">
		<p>Kellk is a software developed with the mere intention of giving its users a new experience in communication.
		<p>Kellk is a propietary software coded by Guillermo Hernandez and headquartered in Cali Colombia.
		<p>The name Kellk is based on the quechua word "Kellkkaska" wich means "writing" wich is mainly the objective of this application, allow people Sharing words.
		<p>If you want to get in touch or report bugs or feeback, please send an email to: ebuneli@gmail.com or blackscorpionster@gmail.com, all these are very important to improve the application.
	</div>
</div>