<div id="divAboutKellkCenter" class="JasonSaysChatBox">
	<div>
		<div style="position:relative;">
			<div style="position:relative;">{$tittle}</div>
			<div class="closeX" title="" onclick="byebye('divAboutKellkCenter')">X</div>
		</div>
	</div>
	<div class="JsonSaysRequestsBox">
		<p>Kellk es un software ideado con la intencion de brindar una nueva experiencia en comunicacion a sus usuarios.
		<p>Kellk es un software propietario desarrollado por Guillermo Hernandez and funciona en la ciudad de Cali Colombia.		
		<p>El nombre Kellk es la base de la palabra quechua "Kellkkaska" la cual significa "escrito" que al final es el objetivo de esta aplicacion, permitir a la gente compartir palabras.
		<p>Si desea pornerse en contacto o reportar errores or dejar un comentario, por favor enviar un correo electromico a: ebuneli@gmail.com or blackscorpionster@gmail.com. Todos los comentarios son importantes para mejorar la aplicacion.
	</div>
</div>