<div style="height:30px;text-align:center;padding-top:7px;cursor:pointer" onclick="callOption(16)">
		{$conTittle}
</div>
<div id="divContacsContainer" style="min-height:95%;overflow:auto;">
	{foreach from=$contacts key=pos item=arrContacto}
		<div id="divContact{$arrContacto.COD_USER_GUEST}" onclick="JsonShowContacChatWindow({$arrContacto.COD_USER_GUEST},'{$arrContacto.TXT_NAME}','{$arrContacto.TXT_NAME} {$arrContacto.TXT_SURNAME}')" class="contactOption" title="{$arrContacto.TXT_NAME} {$arrContacto.TXT_SURNAME}">
			{$arrContacto.TXT_NAME}
		</div>
	{/foreach}
</div>
