<div id="divHelpKellkCenter"  class="JasonSaysChatBox">
	<div>
		<div style="position:relative;">
			<div style="position:relative;">{$tittle}</div>
			<div class="closeX" title="" onclick="byebye('divHelpKellkCenter')">X</div>
		</div>
	</div>
	<div class="JsonSaysRequestsBox">
		<div style="background-color:#E4E4E4;cursor:pointer;height:30px;margin:10px;" onclick="fn_displayHelp('divHelpDirectory')">
			Find a new contact
		</div>
		<div id="divHelpDirectory" style="display:none;">
			<div style="margin:20px;">
				<div>
					Click on Directory
				</div>
				<img src="../image/find_user.PNG" />
			</div>
			<div style="margin:20px;">
				<div>
					Type your friend's email and click on >>
				</div>
				<img src="../image/find_user2.PNG" />
			</div>
			<div style="margin:20px;">
				<div>
					Write something if you like and click on >>
				</div>
				<img src="../image/find_user3.PNG" />
			</div>
		</div>
		<div style="background-color:#E4E4E4;cursor:pointer;height:30px;margin:10px;" onclick="fn_displayHelp('divHelpDeleteContact')">
			Delete Contact from you contact list
		</div>
		<div id="divHelpDeleteContact" style="display:none;">
			<div style="margin:20px;">
				<div>
					Click on Directory
				</div>
				<img src="../image/delete_contact.PNG" />
			</div>
			<div style="margin:20px;">
				<div>
					Click on the X next the contact name
				</div>
				<img src="../image/delete_contact2.PNG" />
			</div>
			<div style="margin:20px;">
				<div>
					Click YES
				</div>
				<img src="../image/delete_contact3.PNG" />
			</div>
		</div>
		<div style="background-color:#E4E4E4;cursor:pointer;height:30px;margin:10px;" onclick="fn_displayHelp('divHelpNewConversation')">
			Start a new conversation
		</div>
		<div id="divHelpNewConversation" style="display:none;">
			<div style="margin:20px;">
				<div>
					Click on one of your contacs on the contact list on the right side of the screen
				</div>
				<img src="../image/new_conversation.PNG" />
			</div>
			<div style="margin:20px;">
				<div>
					A chat box will be displayed on the main screen
				</div>
				<img src="../image/new_conversation2.PNG" />
			</div>
			<div style="margin:20px;">
				<div>
					Write something and click on >>
				</div>
				<img src="../image/new_conversation3.PNG" />
			</div>
		</div>
		<div style="background-color:#E4E4E4;cursor:pointer;height:30px;margin:10px;" onclick="fn_displayHelp('divHelpDeleteAcount')">
			Delete account
		</div>
		<div id="divHelpDeleteAcount" style="display:none;">
			<div style="margin:20px;">
				<div>
					Click on Your Information
				</div>
				<img src="../image/delete_account.PNG" />
			</div>
			<div style="margin:20px;">
				<div>
					Click on red button and then click YES
				</div>
				<img src="../image/delete_account2.PNG" />
			</div>
		</div>
	</div>
</div>