<div id="divHelpKellkCenter"  class="JasonSaysChatBox">
	<div>
		<div style="position:relative;">
			<div style="position:relative;">{$tittle}</div>
			<div class="closeX" title="" onclick="byebye('divHelpKellkCenter')">X</div>
		</div>
	</div>
	<div class="JsonSaysRequestsBox">
		<div style="background-color:#E4E4E4;cursor:pointer;height:30px;margin:10px;" onclick="fn_displayHelp('divHelpDirectory')">
			Buscar un contacto
		</div>
		<div id="divHelpDirectory" style="display:none;">
			<div style="margin:20px;">
				<div>
					Clic en directorio
				</div>
				<img src="../image/find_user.PNG" />
			</div>
			<div style="margin:20px;">
				<div>
					Digite el email del contacto y de clic en >>
				</div>
				<img src="../image/find_user2.PNG" />
			</div>
			<div style="margin:20px;">
				<div>
					Escriba algo si lo desea y de clic en >>
				</div>
				<img src="../image/find_user3.PNG" />
			</div>
		</div>
		<div style="background-color:#E4E4E4;cursor:pointer;height:30px;margin:10px;" onclick="fn_displayHelp('divHelpDeleteContact')">
			Borrar contactos de su lista de contactos
		</div>
		<div id="divHelpDeleteContact" style="display:none;">
			<div style="margin:20px;">
				<div>
					Clic en Directorio
				</div>
				<img src="../image/delete_contact.PNG" />
			</div>
			<div style="margin:20px;">
				<div>
					Clic en la X al lado del nombre del contacto
				</div>
				<img src="../image/delete_contact2.PNG" />
			</div>
			<div style="margin:20px;">
				<div>
					Clic SI
				</div>
				<img src="../image/delete_contact3.PNG" />
			</div>
		</div>
		<div style="background-color:#E4E4E4;cursor:pointer;height:30px;margin:10px;" onclick="fn_displayHelp('divHelpNewConversation')">
			Enpezar una nueva conversacion
		</div>
		<div id="divHelpNewConversation" style="display:none;">
			<div style="margin:20px;">
				<div>
					Clic en uno de sus contactos en la lista de contactos que se encuentra a la derecha
				</div>
				<img src="../image/new_conversation.PNG" />
			</div>
			<div style="margin:20px;">
				<div>
					Una caja de chat se desplegara en la ventana principal
				</div>
				<img src="../image/new_conversation2.PNG" />
			</div>
			<div style="margin:20px;">
				<div>
					Escriba algo y de click en >>
				</div>
				<img src="../image/new_conversation3.PNG" />
			</div>
		</div>
		<div style="background-color:#E4E4E4;cursor:pointer;height:30px;margin:10px;" onclick="fn_displayHelp('divHelpDeleteAcount')">
			Borrar su cuenta
		</div>
		<div id="divHelpDeleteAcount" style="display:none;">
			<div style="margin:20px;">
				<div>
					Clic en Su Informacion
				</div>
				<img src="../image/delete_account.PNG" />
			</div>
			<div style="margin:20px;">
				<div>
					Clic en el boton rojo y despues clic en SI
				</div>
				<img src="../image/delete_account2.PNG" />
			</div>
		</div>
	</div>
</div>