<div id="divTermsKellkCenter" class="JasonSaysChatBox">
	<div>
		<div style="position:relative;">
			<div style="position:relative;">{$tittle}</div>
			<div class="closeX" title="" onclick="byebye('divTermsKellkCenter')">X</div>
		</div>
	</div>
	<div class="JsonSaysRequestsBox">
		<div>
			Kellk is free to be used by anybody.
		</div>
		<div>
			<p>Kellk doesn't ask for real information or email confirmations to open an account. If your contacts know you, the will know how to find you.
			<p>You are free to invent your own email addres if you like e.g. beth@mykiss.com.
			<p>Kellk doesn't store any cookie on you computer, so the application won't remember any of your personal information. We know this can be quite annoying, but it's for your own security.
			<p>Kellk doesn't make any suggestions about friends or acquaintances. So, you must always be sure about who you are sending requests to.
			<p>Kellk doesn't email with suggestions or informing that you have unread messages.
			<p>Kellk doesn't store any of your read messages. Therefore if you logout, the application will delete all messages you have already read. We know this can be quite annoying, but it's for your own security.
			<p>If you ever forget your password and you are not using a real email addres, then you can get in touch with us, we'll aks you some questions and you will be ready to get back to chat.
			<p>If you are using someone else email address and this person wants to use this address, we'll send an email to the address in dispute and the person owner of the email will gain the rights on the account. With this, all contacts and messages will be deleted, so the new user will be able to use and manage the new account as pleased.
			<p>Kellk store all your sent messages encoded. So don't worry, only you and your contact will know what you have written.
			<p>As Kellk doesn't ask for real information only those who know your email addres will be able to find you on the directory. You can use whatever First and family name that you want.
			<p>Finally, if you want to delete your account we'll never ask you annoying questions. And please be sure all your information will be deleted and the email addres will be free to use by anybody, you included.
			<p>Please enjoy this new alternative in communitacion.
		</div>
	</div>
</div>