<div id="divTermsKellkCenter"  class="JasonSaysChatBox">
	<div>
		<div style="position:relative;">
			<div style="position:relative;">{$tittle}</div>
			<div class="closeX" title="" onclick="byebye('divTermsKellkCenter')">X</div>
		</div>
	</div>
	<div class="JsonSaysRequestsBox">
		<div>
			Kellk es libre y para ser usado por cualquier persona.
		</div>
		<div>
			<p>Kellk no solicita que registres informacion real ni tampoco solicita confirmaciones de correo para abrir una cuenta. Si tus contactos son quien dicen ser, sabran como encontrarte.
			<p>Eres libre de inventar tu propia direccion si asi lo desas e.j. beth@mykiss.com.
			<p>Kellk no almacena cookies en tu computador. La aplicacion no recordara tu informacion personal. Sabemos que esto puede ser un poco molesto, pero es por tu propia seguridad.
			<p>Kellk no hace sugerencias de amigos o conocidos. Entonces, siempre deber estar seguro de a quien estas enviando invitaciones.
			<p>Kellk no envia correos con sugerencias o informando que tienes mensajes sin leer.
			<p>Kellk no almacena ninguno de los mesajes que ya hayas leido. Por eso si cierras la sesion,  la applicacion borrara todos los mensajes leidos. Sabemos que esto puede ser un poco molesto, pero es por tu propia seguridad.
			<p>Si olvidas la contraseña y no estas usando una cuenta de correo real, ponte en contacto con nosotros. Te haremos algunas preguntar y podrar volver a chatear.
			<p>Si estas usando la direccion de correo de alguien mas y esta persona quiere usar la direccion de correo, Enviaremos un correo electronico a la direccion en disputa y la persona dueña del correo ganara los derechos sobre la cuenta. Con esto, todos los mensajes y contactos relacionados a la cuenta anterior seran borrados y el nuevo usuario podra usar la cuenta como lo desee.
			<p>Kellk almacena y entrega todos los mensajes que envies codificados. Entonces no te preocupes, solo tu y tu contacto sabran lo que has escrito.
			<p>Como Kellk no solicita informacion real, Solo aquellos que sepan tu direccion de correo podran encontrarte en el directorio. Puedes usar cualquier nombre y apellido que desees.
			<p>Finalmente, si deseeas borrar tu cuenta de usuario, no te haremos preguntas molestas ni intentaremos hascer que te quedes. Y ten por seguro que toda tu informacion sera borrada y la cuenta de usuario quedara libre para ser usada por cualquiera incluso tu mismo.
			<p>Por favor, disfruta esta nueva alternativa en comunicacion.
		</div>
	</div>
</div>