a:link
{
	text-decoration:none;
}
a:visited
{
	text-decoration:none;
}

body
{
	background:#E4E4E4;  /*#2A3642;#EFEFEF;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#000000;
}

.logo
{
	color:#FF0000;
	font-size:25px;
	position:absolute;
	z-index:100;
	right:20px;
	text-align:center;
}

.loading
{
	color:#FF0000;
	font-size:25px;
	position:absolute;
	z-index:101;
	display:none;
	right:5px;
	text-align:center;
}
.master 
{
	width:700px;
	min-height:700px;
	_height:700px;
	position:relative;
	overflow:auto;
}

.menu
{
	float:left;
	overflow:auto;
}

.main_container
{
	float:left;
	overflow:auto;
}

.workArea
{
	color:#000000;
	background-color:#FFFFFF;
	position:relative;
	overflow:auto;
	min-height: 500px;
	_height: 600px;
}

.optionTitle
{
	color:#000000;
	position:relative;
}

.textTittle
{
	position: relative;
	padding-left:10px;
	display:inline;
}

.accountInfo
{
	color:#FF0000;
}

.accountInfoFloating
{
	color:#FFFFFF;
	float:right;
}

.menuOptions
{
	position:static;
	overflow:auto;
}

.menuOption
{
	color:#000000;
	background-color:#FFFFFF;
	margin-bottom:10px;
	height:30px;
	padding-top:7px;
	position:relative;
	text-align:right;
	cursor:pointer;
}

.menuOptionOn
{
	color:#000000;
	background-color:#FFFFFF;
	margin-bottom:10px;
	height:30px;
	padding-top:7px;
	padding-right:5px;
	position:relative;
	text-align:right;
	cursor:pointer;
	border-right-style:solid;
	border-right-color:#FF0000;
}

.contactOptionOn
{
	color:#000000;
	background-color:#E4E4E4;
	margin-bottom:10px;
	height:30px;
	padding-top:7px;
	padding-left:5px;
	position:relative;
	cursor:pointer;
	border-left-style:solid;
	border-left-color:#FF0000;
}

.messageBox
{
	color:#FFFFFF;
}

.messageBoxFloating
{
	color:#FFFFFF;
	position:absolute;
}

.textBox
{
	border-color:#666666;
	border:solid;
	border-width:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:250px;
	height:25px;
	padding-left:5px;
	/*text-align:center;*/
}

.button
{
	border-color:#666666;
	border:solid;
	border-width:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.msjBoxes
{
	float:left;
	overflow:auto;
	background-color:#FFFFFF;
	padding-bottom:10px;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#E4E4E4;
}

.usrContacts
{
	float:right;
	height:100%;
}

.contactOption
{
	color:#000000;
	background-color:#E4E4E4;
	margin-bottom:10px;
	height:30px;
	padding-top:7px;
	position:relative;
	cursor:pointer;
}

.JasonSaysChatBox
{
	border:solid;
	border-width:1px;
	margin-left:10px;
	margin-top:10px;
	padding:10px 10px 10px 10px;
	float:left;
}

.JsonSaysTextBox
{
	background-color:#FFFFFF;
	border-style:solid;
	border-width:1px;
	width:240px;
	height:100px;
	overflow:auto;
	padding:10px;
	word-wrap:break-word;
}

.JsonSaysRequestsBox
{
	position:relative;
	background-color:#FFFFFF;
	border-style:solid;
	border-width:1px;
	padding:10px;
	margin-top:10px;
	margin-left:10px;
}

.JsonSaysWriteBox
{
	width:220px;
	height:50px;
	background-color:#FFFFFF;
	overflow:auto;
}

.JsonSaysSendButton
{
	height:50px;
	font-size:9px;
	border-color:#666666;
	border:solid;
	border-width:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-left:5px;
}

.JsonSaysRecibido
{
	background-color:#C9E4FC;
	font-size:11px;
	text-align:left;
	overflow:auto;
	position:relative;
	left:-5px;
	width:220px;
}

.JsonSaysEnviado
{
	background-color:#D3F291;
	font-size:11px;
	text-align:left;
	overflow:auto;
	position:relative;
	left:5px;
	width:220px;
}
.JsonSaysMessageDate
{
	color:#000000;
	font-size:8px;
	text-align:right;
	margin-bottom:3px;
}

.aceptordiscard
{
	display:none;zoom:1;
	filter:alpha(opacity=50);
	opacity:0.5;
	position:absolute;
	cursor:pointer;
	top:0px;
	width:50%;
	height:20px;
	text-align:right;
}

.JsonSaysFindBox
{
	position:relative;
	background-color:#FFFFFF;
	border-style:solid;
	border-width:1px;
	padding-top:5px;
	padding-left:5px;
	padding-bottom:5px;
}

.usrContact
{
	margin-top:5px;
	height:25px;
	padding-top:10px;
	padding-left:3px;
	position:relative;
	min-width:200px;
}

.messageNotSent
{
	background-color:#A52A2A;
	font-size:11px;
	text-align:left;
	overflow:auto;
	position:relative;
	left:5px;
	width:220px;
}

.closeX
{
	position:absolute;
	right:0px;
	top:0px;
	cursor:pointer;
	background-color:#FF0000;
	color:#FFFFFF;
	font-size:15px;
	font-weight:bold;
	padding-left:3px;
	padding-right:3px;
}